.logo
{
    height: 100px;
    width: 100px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar
{
    list-style-type: none;
    display: flex;
}

.navbar li
{
    margin: 0 15px;
    font-size: 25px;
}

.navbar a
{
    text-decoration: none;
    color: black;
}