/* UNDER CONSTRUCTION */

.underconstruction {
    display: flex;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    padding-top: 30px;
}

.construction-section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.construction-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.construction-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: bold;
    color: black;
    z-index: 10;
    text-align: center;
}

/* FONT */

.medievalsharp-regular {
    font-family: "MedievalSharp", serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* HEADER & NAVBAR */

.logo {
    height: 75px;
    width: 75px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 25px;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.navbar {
    list-style-type: none;
    display: flex;
}

.navbar li {
    margin: 0px 15px;
    font-size: 25px;
    font-weight: bold;
    padding: 25px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

body {
    background-color: teal;
    font-family: 'MedievalSharp', cursive;
    color: white;        
}

/* OVERVIEW */

.overview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.overview h1 {
    padding-top: 100px;
    margin: auto;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.overview p {
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    line-height: 1.5;
    padding-top: 75px;
    padding-left: 150px;
    padding-right: 150px;
    text-shadow: 2px 2px 5px black;
}

/* ABOUT */

.about {
    display: flex;
    flex-direction: column;
}

.about h1 {
    padding-top: 50px;
    margin: auto;
    font-size: 75px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.about p {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
    text-shadow: 2px 2px 5px black;
}

/* UPDATES */

.update-section {
    display: flex;
    flex-direction: column;
    justify-content: center;}

.update-wrapper {
    text-align: center;
    font-size: 75px;
    text-shadow: 2px 2px 5px black;
}

.update-wrapper h2 {
    font-size: 40px;
    text-align: left;
    padding-left: 50px;
}

.update-wrapper p {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 75px;
}

.update-wrapper ul {
    padding-left: 100px;
}

.update-wrapper li {
    font-size: 20px;
    text-align: left;
    padding-top: 5px;
    line-height: 1.5;
}

/* CONTACT */

.contact-wrapper {
    display: flex;
    justify-content: center;
}

.contact-content {
    padding-top: 75px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.contact-content h1 {
    font-size: 50px;
    text-shadow: 2px 2px 5px black;
}

.contact-content p {
    font-size: 20px;
    font-weight: bold;
}

form {
    padding-top: 75px;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  button {
    margin-top: 15px;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
  }
  
  button:hover {
    background: gray;
  }
  

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    padding-top: 65px;
    opacity: .3;
    padding-top: 500px;
}